#### Random Forest classification on [Human Activity Dataset](http://groupware.les.inf.puc-rio.br/har#dataset)
* predict the activity type

In [1]:
import pandas as pd
import time
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [2]:
# load the dataset
flc = '/Users/melanie/Downloads/'
#flc = '/Users/pinqingkan/Downloads/'
fname = flc + 'dataset-har-PUC-Rio-ugulino.csv'
X = pd.read_csv(fname, sep = ';', low_memory = False, decimal = ',')

In [3]:
# convert gender to numbers
X.gender = X.gender.map({'Man': 0, 'Woman':1})

In [4]:
# force data type conversion (one line is incorrect)
# X.z4 = pd.to_numeric(X.z4, errors = 'raise'): this indicates the row 122076 is incorrect
X = X.drop([122076], axis = 0)
X.z4 = pd.to_numeric(X.z4, errors = 'raise')

In [5]:
X.dtypes

user                   object
gender                  int64
age                     int64
how_tall_in_meters    float64
weight                  int64
body_mass_index       float64
x1                      int64
y1                      int64
z1                      int64
x2                      int64
y2                      int64
z2                      int64
x3                      int64
y3                      int64
z3                      int64
x4                      int64
y4                      int64
z4                      int64
class                  object
dtype: object

In [6]:
# separate into labels and data
# convert labels to numbers for plotting purpose
types = X['class'].unique()
print(types)
y = X['class']
Y = pd.get_dummies(y)
#Y = y.map( {types[i]: i for i in range(len(types))} )
X = X.drop(labels = ['class', 'user'], axis = 1)

['sitting' 'sittingdown' 'standing' 'standingup' 'walking']

In [7]:
X.describe()

,gender,age,how_tall_in_meters,weight,body_mass_index,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4
count,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000,165632.000000
mean,0.612044,38.264925,1.639712,70.819431,26.188535,-6.649319,88.293591,-93.164449,-87.827956,-52.065911,-175.055647,17.423517,104.517056,-93.881641,-167.641211,-92.625235,-159.650985
std,0.487286,13.183821,0.052820,11.296557,2.995781,11.616273,23.895881,39.409487,169.435606,205.160081,192.817111,52.635546,54.155987,45.389770,38.311336,19.968653,13.221020
min,0.000000,28.000000,1.580000,55.000000,22.000000,-306.000000,-271.000000,-603.000000,-494.000000,-517.000000,-617.000000,-499.000000,-506.000000,-613.000000,-702.000000,-526.000000,-537.000000
25%,0.000000,28.000000,1.580000,55.000000,22.000000,-12.000000,78.000000,-120.000000,-35.000000,-29.000000,-141.000000,9.000000,95.000000,-103.000000,-190.000000,-103.000000,-167.000000
50%,1.000000,31.000000,1.620000,75.000000,28.400000,-6.000000,94.000000,-98.000000,-9.000000,27.000000,-118.000000,22.000000,107.000000,-90.000000,-168.000000,-91.000000,-160.000000
75%,1.000000,46.000000,1.710000,83.000000,28.600000,0.000000,101.000000,-64.000000,4.000000,86.000000,-29.000000,34.000000,120.000000,-80.000000,-153.000000,-80.000000,-153.000000
max,1.000000,75.000000,1.710000,83.000000,28.600000,509.000000,533.000000,411.000000,473.000000,295.000000,122.000000,507.000000,517.000000,410.000000,-13.000000,86.000000,-43.000000

In [8]:
# split the datasets into training & testing data
# random_state = 7 to ensure repeatable results; skiped in real cases
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 7)

In [9]:
# Random Forest classification
rfc = RandomForestClassifier(n_estimators = 30, max_depth = 10, oob_score = True, random_state = 0)
t0 = time.time()
rfc.fit(X_train, Y_train)
print('training time: ', time.time()-t0)

training time:  11.425105094909668

In [10]:
print('Out-of-Bag Score: ', rfc.oob_score_)

Out-of-Bag Score:  0.98744199686

In [11]:
t0 = time.time()
score = rfc.score(X_test, Y_test)
print('scoring time: ', time.time()-t0)
print('score: ', score)

scoring time:  0.766822099685669
score:  0.956872610183